application-group.id=ECOMMERCE-EMAIL
spring.profiles.active=dev
server.port=8081

# KAFKA
kafka.parameters.brokers=brokers=localhost:9092
kafka.parameters.default=maxPollRecords=500&maxPollIntervalMs=300000&sessionTimeoutMs=10000&heartbeatIntervalMs=3000&autoOffsetReset=latest&autoCommitEnable=true&consumersCount=3
kafka.parameters.group=groupId=${application-group.id}_${spring.profiles.active}
kafka.parameters=${kafka.parameters.brokers}&${kafka.parameters.default}&${kafka.parameters.group}

kafka.email.endpoint=kafka:ECOMMERCE_SEND_EMAIL?${kafka.parameters}

# MAIL
mail.host=smtp.gmail.com
mail.port=587
mail.username=<PUT HERE YOUR EMAIL ADDRESS>
mail.password=<PUT HERE YOUR EMAIL PASSWORD>

spring.mail.host=${mail.host}
spring.mail.port=${mail.port}
spring.mail.username=${mail.username}
spring.mail.password=${mail.password}
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true